.table-container {
  font-size: 13px;
  display: block;
  line-height: 1.4;
  color: #555;
  background-color: #b3d4fc;
}

.BranchInfo table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: grey;
  box-sizing: border-box;
  color: #555;
  background-color: #b3d4fc;
}

.BranchInfo tbody {
  display: table-row-group;
  vertical-align: middle;
  border: inherit;
}

.BranchInfo tr {
  display: table-row;
  vertical-align: inherit;
  border: inherit;
  text-size-adjust: 100%;
  text-align: center;
  padding: 7px 20px;
}

.BranchInfo th:first-child {
  width: 150px;
  text-align: center;
  padding: 7px 20px;
}

.BranchInfo th {
  background: #053c6d;
  color: #fff;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  font-weight: normal;
  display: table-cell;
  vertical-align: inherit;
}
