.Product {
  height: 35vh;
  flex-basis: 33%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  background-color: white;
}

.Product img {
  width: 180px;
  height: 80px;
}

.Product button {
  height: 20px;
  width: 130px;
  border: none;
  box-shadow: 0 1px 1px grey;
  margin-top: 20px;
  background-color: skyblue;
  color: navy;
}
